.article-form__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.article-form__paper {
    width: 100%;
    height: 100%;
}

.article-form__field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
