.article-placeholder__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-placeholder__text {
    font-size: 2em;
    color: #C3C3C3;
    margin: 10px;
}