.dashboard__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.dashboard__text {
    color: #555555;
    text-align: center;
    font-size: 2em;
}

.dashboard__options-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
}

.dashboard__option-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    width: 300px;
}

.dashboard__subtitle {
    color: #555555;
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
}

.dashboard__option-text {
    margin: 10px;
}

.dashboard__news {
    width: 100%;
}

.dashboard__charts-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.dashboard__chart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard__chart-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

@media (max-width: 1000px) {
    .dashboard__charts-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
