.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard__title {
    color: #555;
    text-align: center;
    font-size: 2em;
}

.dashboard__charts-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 1000px) {
    .dashboard__charts-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
