.trade-detail__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 24px;
    text-align: center;
}

.trade-detail__description {
    flex: 1 1 auto;
    margin-top: 10px;
}

.trade-detail__actions-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.trade-detail__update-message {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: red;
}
