.trade-detail__info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    margin-bottom: 20px;
    font-size: 20px;
}

.trade-detail__description {
    flex: 1 1 auto;
}

.trade-detail__hints {
    flex: 1 1 auto;
    background-color: silver;
    color: red;
    margin-left: 24px;
}

.trade-detail__actions-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.trade-detail__update-message {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: red;
}
