.trade-link {
    margin: 10px;
    padding-bottom: 10px;
}

.trade-link__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.trade-link__left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.trade-link__right-column {
    text-align: center;
    margin-left: auto;
}
