.user-details-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
}

@media (min-width: 750px) {
    .user-details-form__container {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

.user-details-form__paper {
    width: 100%;
    height: 100%;
}

.user-details-form__field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.user-details-form__hint-text {
    color: #555;
    text-align: center;
    font-size: 0.7em;
    margin-top: 20px;
}
