.placeholder__container {
    display: flex;
    align-items: center;
}

.placeholder__container--horizontal {
    flex-direction: row;
    justify-content: flex-start;
}

.placeholder__container--vertical {
    flex-direction: column;
    justify-content: center;
}

.placeholder__text {
    text-align: center;
    font-size: 2em;
    color: #c3c3c3;
    margin: 10px;
}
