.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder--horizontal {
    flex-direction: row;
}

.placeholder--vertical {
    flex-direction: column;
}

.placeholder__text {
    text-align: center;
    font-size: 2em;
    color: #c3c3c3;
    margin: 10px;
}
