.articles__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles__container + .articles__container {
    margin-top: 24px;
}

@media (min-width: 750px) {
    .articles__container {
        width: 100%;
    }
}

.articles__paper {
    width: 100%;
    height: 100%;
}
