.intro-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
}

.intro-actions__action-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    width: 300px;
}

.intro-actions__action-title {
    color: #555;
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
}
