.user-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 750px) {
    .user-password {
        width: 100%;
    }
}

.user-password__container {
    width: 100%;
    height: 100%;
}

.user-password__fields-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
