.trade-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.trade-summary + .trade-summary {
    margin-top: 10px;
}

.trade-summary__trade-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    width: 100%;
}

.trade-summary__articles-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.trade-summary__articles-title {
    color: black;
    text-align: center;
    font-size: 1.4em;
    margin: 10px;
}

.trade-summary__swap-image-wrapper {
    align-self: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trade-summary__swap-image {
    fill: #00bcd4;
    width: 100px;
    height: 100px;
}

.trade-summary__button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .trade-summary__trade-container {
        flex-direction: column;
    }

    .trade-summary__swap-image {
        transform: rotate(90deg);
    }
}
