.article-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100px;
}

.article-row:nth-child(2n+1) {
    background-color: #fcfcfc;
}

.article-row__checkbox-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.article-row__image {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-row__image--clickable {
    cursor: pointer;
}

.article-row__text-column {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.article-row__title {
    font-size: 1.5em;
}

.article-row__categories {
    font-style: italic;
}

.article-row__description {
    white-space: pre-wrap;
}

.article-row__properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10px;
}

@media (max-width: 750px) {
    .article-row {
        flex-direction: column;
    }

    .article-row__text-column {
        align-items: center;
    }

    .article-row__properties {
        align-items: center;
    }
}
