:root {
    /* Referring the colors from Material UI: http://www.material-ui.com/#/customization/colors */
    --intro-image-color-lowest: #b2ebf2; /* cyan100 */
    --intro-image-color-low: #80deea; /* cyan200 */
    --intro-image-color-medium: #4dd0e1; /* cyan300 */
    --intro-image-color-high: #26c6da; /* cyan400 */
    --intro-image-color-highest: #00bcd4; /* cyan500 */
    --intro-image-size-small: 75px;
    --intro-image-size-medium: 100px;
    --intro-image-size-large: 125px;
}

.intro-animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.intro-animation__images-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.intro-animation__swap-image-wrapper {
    margin: 10px;
}

.intro-animation__swap-image {
    fill: var(--intro-image-color-highest);
    width: 225px;
    height: 225px;
}

.intro-animation__timer {
    animation-duration: 2000ms;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
}

@media (min-width: 1000px) {
    .intro-animation__swap-image {
        animation-name: image-rotation-horizontal;
    }

    .intro-animation__small-image {
        width: var(--intro-image-size-small);
        height: var(--intro-image-size-small);
        fill: var(--intro-image-color-lowest);
        animation-name: small-image-effect-horizontal;
    }

    .intro-animation__medium-image {
        width: var(--intro-image-size-medium);
        height: var(--intro-image-size-medium);
        fill: var(--intro-image-color-low);
        animation-name: medium-image-effect-horizontal;
    }

    .intro-animation__large-image {
        width: var(--intro-image-size-large);
        height: var(--intro-image-size-large);
        fill: var(--intro-image-color-medium);
        animation-name: large-image-effect-horizontal;
    }
}

@media (max-width: 1000px) {
    .intro-animation__swap-image {
        transform: rotate(-90deg);
        animation-name: image-rotation-vertical;
    }

    .intro-animation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
    }

    .intro-animation__small-image {
        width: var(--intro-image-size-small);
        height: var(--intro-image-size-small);
        fill: var(--intro-image-color-low);
        animation-name: small-image-effect-vertical;
    }

    .intro-animation__medium-image {
        width: var(--intro-image-size-small);
        height: var(--intro-image-size-small);
        fill: var(--intro-image-color-low);
        animation-name: medium-image-effect-vertical;
    }

    .intro-animation__large-image {
        width: var(--intro-image-size-small);
        height: var(--intro-image-size-small);
        fill: var(--intro-image-color-low);
        animation-name: large-image-effect-vertical;
    }
}

@keyframes small-image-effect-horizontal {
    25% {
        fill: var(--intro-image-color-low);
        transform: scale(1.2, 1.2);
    }
}

@keyframes medium-image-effect-horizontal {
    50% {
        fill: var(--intro-image-color-medium);
        transform: scale(1.2, 1.2);
    }
}

@keyframes large-image-effect-horizontal {
    75% {
        fill: var(--intro-image-color-highest);
        transform: scale(1.2, 1.2);
    }
}

@keyframes small-image-effect-vertical {
    25% {
        fill: var(--intro-image-color-highest);
        transform: scale(1.2, 1.2);
    }
}

@keyframes medium-image-effect-vertical {
    50% {
        fill: var(--intro-image-color-highest);
        transform: scale(1.2, 1.2);
    }
}

@keyframes large-image-effect-vertical {
    75% {
        fill: var(--intro-image-color-highest);
        transform: scale(1.2, 1.2);
    }
}

@keyframes image-rotation-horizontal {
    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes image-rotation-vertical {
    75% {
        transform: rotate(0deg) rotate(-90deg);
    }

    100% {
        transform: rotate(-270deg);
    }
}
