* {
    margin: 0;
    padding: 0;
}

/*.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.card-element {
    margin: 0;
    padding: 0;
}*/
