* {
    margin: 0;
    padding: 0;
}

.articles-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.article-card {
    margin: 10px;
    max-width: 450px;
    min-width: 250px;
}

.article-card:hover {
    box-shadow: 0 6px 20px 0 gray;
}
